* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #343029;
}

body {
  margin: 0;
  padding: 0;
  background: #f2ecec;
  color: #f1e9e9;
  height: 100vh;
  overflow-x: hidden;
}

section{
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-rows: auto 1fr 1fr auto;
  position: absolute;
  top: 0px;
  height: 100%;
}

div .navBar{
  overflow: hidden;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  background-color: #f3edf0;
  color: black;
  width: 100vw;
  padding: 1% 0% 1% 0%;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  column-gap: 5%;
  grid-row: 1;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
  height: 15%;
}

div .logo{
  color: #343029;
  text-align: left;
  padding: 1rem;
  font-family:  "Work Sans", sans-serif;
  font-size: xx-large;
}

div .search{
  background-color: #f3edf0;
  display: grid;
  grid-template-columns: 7fr 1fr;
  padding: 1rem;
  border-radius: 5px;
}
div .searchBar{
  background-color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 5px 0px 0px 5px;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
}

div #searchInput{
  width: 100%;
  height: 100%;
  padding-left: 3%;
  border-radius: 5px 0px 0px 5px;
  border: none;
  outline: none;
  font-size:small;
}

.searchBarIcon{
  background-color: #e5c0bb;
  align-items: center;
  justify-content: center;
  width: 55%;
  height: 100%;
  border-width: 0px;
  border-radius: 0px 5px 5px 0px;
  cursor: pointer;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
}

.searchBarIcon:hover{
  opacity: 0.6;
  transition: 0.3s;
}

#searchBarIconPhoto{
  width: 50%;
  height: 50%;
}

div .profile{
  background-color: #f3edf0;
  padding: 1rem;
  display: grid;
  min-width: fit-content;
  min-height: fit-content;
  grid-template-columns: 0.5fr 1fr;
  align-items: center;
  margin-left: 25%;
}
div .profileName{
  background-color: #fff;
  display: grid;
  color: #343029;
  grid-column: 1;
  height: 130%;
  border-radius: 50%;
  margin-left: 25%;
  text-align: center;
  align-items: center;
  font-size: small;
}

div .profileName:hover{
  opacity: 0.5;
  cursor: pointer;
  transition: 0.3s;
}

.myCart{
  background-color: #e5c0bb;
  cursor: pointer;
  color: #343029;
  display: grid;
  grid-column: 2;
  box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
  border: none;
  height: 90%;
  text-align: center;
  align-items: center;
  margin: 0 15% 0 7% ;
  border-radius: 5px;
}

.myCart:hover{
  opacity: 0.6;
  transition: 0.3s;
}

main{
  margin: 0;
  padding: 0;
  margin-top: 6.9%;
  background-color: #f2ecec;
  display: grid;
  grid-template-columns: 1fr 4.65fr;
  width: 100vw;
  grid-row: 2;
  text-align: center;
  color: #07090a;
}

div .leftSideBar{
  overflow: hidden;
  position: fixed;
  height: 100vh;
  background-color: #f2ecec;
  display: grid;
  grid-column: 1;
  width: 18%;
  grid-template-rows: 7% 7% 7%;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
  margin-top: 0.1%;
}
 .filters{
  background-color: #f2ecec;
  cursor: pointer;
  border: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.filters:hover{
  opacity: 0.9;
}

 .genre{
  background-color: #f2ecec;
  cursor: pointer;
  border: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.genre:hover{
  opacity: 0.9;
}

 .publications{
  background-color: #f2ecec;
  cursor: pointer;
  border: none;
  box-shadow: 0 4px 1000px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.publications:hover{
  opacity: 0.9;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.field {
  background-color: #f2ecec;
  width: 100%;
  display: grid;
  gap: 1rem;
  grid-column: 2;
  margin: 1.5% 0 2% 0%;
}

.products {
  background: #fff;
  margin: 0% 3.6% 0% 2%;
  padding: 2rem;
  display: grid;
  grid-template-columns: auto 1fr;
  border-radius: 10px;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
}
.products img {
  max-width: 150px;
  max-height: 250px;
  grid-column: 1;
}

.products desc{
  grid-column: 2;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
}

.products h1 {
  margin-top: 4%;
  grid-row: 1;
  text-align: center;
  background-color: #fff;
  width: fit-content;
  margin-left: 5%;
}
.products h3 {
  grid-row: 2;
  text-align: center;
  background-color: #fff;
  width: fit-content;
  margin-left: 5%;
  margin-top: 1%;
}
.products h4 {
  grid-row: 3;
  text-align: center;
  background-color: #fff;
  width: fit-content;
  margin-left: 5%;
  margin-top: 1%;
}
 .cartButton{
  background-color: #3a3a3a;
  color: #fff;
  padding: 1rem;
  border-radius: 5px;
  border: none;
  height: 15%;
  cursor: pointer;
  grid-row: 4;
  display:flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: fit-content;
  margin-left: 5%;
  margin-top: 5%;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
}

.cartButton:hover{
  opacity: 0.8;
  transition: 0.3s;
}

div .rightSideBar{
overflow: hidden;
position: fixed;
right: 0%;
width: 0%;
height: 100vh;
background-color: #f2ecec;
display: grid;
transition: 0.3s;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.cartTop{
  margin-left: 7%;
  margin-top: 7%;
  display: grid;
  grid-template-columns: 1fr 5fr 10fr;
}

.cartHeading{
  display: grid;
  font-family:  "Work Sans", sans-serif;
  color: #343029;
  background-color: #f2ecec;
  height: fit-content;
  width: fit-content;
  font-size: x-large;
  grid-column: 1;
  margin-top: 5%;
}
.cartSymbol{
  display: grid;
  background-color:#f2ecec;
  width: 90%;
  height: 4.7%;
  grid-column: 2;
}
.cartCount{
  display: grid;
  margin-top: 9.5%;
  margin-left: 2%;
  font-family:  "Work Sans", sans-serif;
  display: grid;
  color: #343029;
  grid-column: 3;
  width: fit-content;
  height: fit-content;
  background-color: #f2ecec;
}

div .loadMore{
  grid-row: 3;
  height: 30px;
  background-color: #f2ecec;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.loadMoreButton:hover{
  opacity: 0.8;
  transition: 0.3s;
  cursor: pointer;
}

.loadMoreButton{
  margin-left: 15%;
  color: #fff;
  background-color: #3a3a3a;
  height: 30px;
  width: 8%;
  border-radius: 20px;
  border-width: 1px ;
  border-color: #3a3a3a;
}


div .footer{
  grid-row: 4;
  height: 80px;
  background-color: #e5c0bb;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  overflow: hidden;
  margin-top: 2%;
  display: grid;
  grid-template-rows: 1fr 1fr;
  width: 100%;
  padding-left: 20%;
}

.contact{
  width: fit-content;
  height: fit-content;
  display: grid;
  grid-row: 1;
}

.copyright{
  width: fit-content;
  height: fit-content;
  display: grid;
  grid-row: 2;
  font-size: medium;
  font-weight: 900;
}

.copyright a{
  text-decoration: none;
}

.copyright a:hover{
  text-decoration: none;
  opacity: 0.8;
  transition: 0.5s;
}


@media screen and (min-width: 768px) {
  .field {
    grid-template-rows: repeat(5, 1fr);
  }
}