* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #343029;
}

body {
  margin: 0;
  padding: 0;
  background: #07090a;
  color: #f1e9e9;
  height: 100vh;
  overflow-x: hidden;
}

section{
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-rows: auto 1fr;
  position: absolute;
  top: 0px;
  height: 100%;
}

div .navBar{
  overflow: hidden;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  background-color: #f3edf0;
  color: black;
  width: 100vw;
  padding: 1% 0% 1% 0%;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  column-gap: 5%;
  grid-row: 1;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
}

div .logo{
  color: #343029;
  text-align: left;
  padding: 1rem;
  font-family:  "Work Sans", sans-serif;
  font-size: x-large;
}

div .search{
  background-color: #f3edf0;
  display: grid;
  grid-template-columns: 7fr 1fr;
  padding: 1rem;
  border-radius: 5px;
}
div .searchBar{
  background-color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 5px 0px 0px 5px;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
}

div #searchInput{
  width: 100%;
  height: 100%;
  padding-left: 3%;
  border-radius: 5px 0px 0px 5px;
  border: none;
  outline: none;
}

.searchBarIcon{
  background-color: #e5c0bb;
  align-items: center;
  justify-content: center;
  width: 70%;
  height: 100%;
  border-width: 0px;
  border-radius: 0px 5px 5px 0px;
  cursor: pointer;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
}

#searchBarIconPhoto{
  width: 50%;
  height: 70%;
}

div .profile{
  background-color: #f3edf0;
  padding: 1rem;
  display: grid;
  min-width: fit-content;
  min-height: fit-content;
  grid-template-columns: 0.5fr 1fr;
  align-items: center;
  margin-left: 25%;
}
div .profileName{
  background-color: #fff;
  display: grid;
  color: #343029;
  grid-column: 1;
  height: 180%;
  border-radius: 50%;
  margin-left: 0%;
  text-align: center;
  align-items: center;
}

.myCart{
  background-color: #e5c0bb;
  cursor: pointer;
  color: #343029;
  display: grid;
  grid-column: 2;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
  border: none;
  height: 120%;
  text-align: center;
  align-items: center;
  margin: 0 15% 0 8% ;
}

main{
  margin: 0;
  padding: 0;
  margin-top: 6.9%;
  background-color: #f2ecec;
  display: grid;
  grid-template-columns: 1fr 4.65fr;
  width: 100vw;
  grid-row: 2;
  text-align: center;
  color: #07090a;
}

div .leftSideBar{
  overflow: hidden;
  position: fixed;
  height: 100vh;
  background-color: #f2ecec;
  display: grid;
  grid-column: 1;
  width: 18%;
  grid-template-rows: 5% 5% 5%;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
  margin-top: 0.1%;
}
 .filters{
  background-color: #e5c0bb;
  cursor: pointer;
  border: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
 .brand{
  background-color: #e5c0bb;
  cursor: pointer;
  border: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
 .items{
  background-color: #e5c0bb;
  cursor: pointer;
  border: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.field {
  background-color: #f2ecec;
  width: 100%;
  display: grid;
  gap: 1rem;
  grid-column: 2;
  margin-bottom: 2%;
}

.products {
  background: #fff;
  margin: 2% 3.6% 0% 2%;
  padding: 2rem;
  display: grid;
  grid-template-columns: auto 1fr;
  border-radius: 10px;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
}
.products img {
  max-width: 200px;
  max-height: 300px;
  grid-column: 1;
}

.products desc{
  grid-column: 2;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
}

.products h1 {
  margin-top: 7%;
  grid-row: 1;
  text-align: center;
  background-color: #fff;
  width: fit-content;
  margin-left: 5%;
}
.products h3 {
  grid-row: 2;
  text-align: center;
  background-color: #fff;
  width: fit-content;
  margin-left: 5%;
  margin-top: 1%;
}
.products h4 {
  grid-row: 3;
  text-align: center;
  background-color: #fff;
  width: fit-content;
  margin-left: 5%;
  margin-top: 1%;
}
 .cartButton{
  background-color: #3a3a3a;
  color: #fff;
  padding: 1rem;
  border: none;
  height: 15%;
  cursor: pointer;
  grid-row: 4;
  display:flex;
  justify-content: center;
  width: fit-content;
  margin-left: 5%;
  margin-top: 8%;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
}

div .rightSideBar{
overflow: hidden;
position: fixed;
right: 0%;
width: 0%;
height: 100vh;
background-color: #f2ecec;
display: grid;
transition: 0.3s;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.cartTop{
  margin-left: 7%;
  margin-top: 7%;
  display: grid;
  grid-template-columns: 1fr 5fr 10fr;
}

.cartHeading{
  display: grid;
  font-family:  "Work Sans", sans-serif;
  color: #343029;
  background-color: #f2ecec;
  height: fit-content;
  width: fit-content;
  font-size: x-large;
  grid-column: 1;
  margin-top: 5%;
}
.cartSymbol{
  display: grid;
  background-color:#f2ecec;
  width: 90%;
  height: 4.7%;
  grid-column: 2;
}
.cartCount{
  display: grid;
  margin-top: 9.5%;
  margin-left: 2%;
  font-family:  "Work Sans", sans-serif;
  display: grid;
  color: #343029;
  grid-column: 3;
  width: fit-content;
  height: fit-content;
  background-color: #f2ecec;
}

@media screen and (min-width: 768px) {
  .field {
    grid-template-rows: repeat(5, 1fr);
  }
}